<ion-header translucent>
  <ion-toolbar>
    <ion-title>Create Survey</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form [formGroup]="formCreateSurvey">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Name <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" [disabled]="!formCreateSurvey.valid"
        (click)="startSuvey()">
        <ion-icon name="play-outline" slot="start"></ion-icon>
        Start Survey
      </ion-button>
    </div>
  </form>
</ion-content>