<ion-card *ngIf="deviceConnected">
  <ion-card-header class="ion-no-padding ion-padding-top ion-padding-horizontal">
    <ion-card-title>Device Connected</ion-card-title>
  </ion-card-header>

  <ion-list class="ion-no-padding">
    <ion-item>
      <ion-label>
        <small>
          <ion-text color="secondary">Name</ion-text>
        </small>
        <h2>{{ device.deviceName }}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <small>
          <ion-text color="secondary">Bluetooth</ion-text>
        </small>
        <h2>{{ device.name }} - {{ device.address }}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <small>
          <ion-text color="secondary">Internet Status</ion-text>
        </small>
        <h2>{{ device.internetStatus === null? 'Unknown': device.internetStatus }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" class="ion-no-margin" color="danger" (click)="disconnect()">
      <ion-icon src="assets/unlink-solid.svg" slot="start"></ion-icon>
      Disconnect
    </ion-button>
  </div>
</ion-card>

<ion-card *ngIf="!deviceConnected">
  <ion-card-header class="ion-no-padding ion-padding-top ion-padding-horizontal">
    <ion-card-title>Device Disconnected</ion-card-title>
  </ion-card-header>

  <div class="ion-padding">
    <ion-button expand="block" class="ion-no-margin" (click)="setupDevice()">
      <ion-icon name="settings-outline" slot="start"></ion-icon>
      Setup Device
    </ion-button>
  </div>
</ion-card>