<ion-card>
  <ion-card-header class="ion-no-padding ion-padding-top ion-padding-horizontal">
    <ion-card-title>
      <ion-grid class="ion-no-padding">
        <ion-row class="d-flex ion-justify-content-between ion-align-items-center">
          Device
          <ion-button fill="clear" class="ion-no-padding btn-icon">
            <ion-icon slot="icon-only" name="aperture-outline"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-grid>
    </ion-card-title>
  </ion-card-header>

  <ion-list>
    <ion-item>
      <ion-label>
        <small>Bluetooth Status</small>
        <h2>Connected</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <small>Name</small>
        <h2>Testing</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <small>Bluetooth ID</small>
        <h2>BLA::BLA::BLA::BLA</h2>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <small>Internet Status</small>
        <h2>Connect</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-card>