<ion-card>
  <ion-card-header class="ion-no-padding ion-padding-top ion-padding-horizontal">
    <ion-card-title>
      <ion-grid class="ion-no-padding">
        <ion-row class="d-flex ion-justify-content-between ion-align-items-center">
          Survey Running
          <span>
            <ion-button fill="clear" class="ion-no-padding btn-icon" color="dark">
              <ion-icon slot="icon-only" name="alert-circle-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" class="ion-no-padding btn-icon" color="danger">
              <ion-icon slot="icon-only" name="stop-circle-outline"></ion-icon>
            </ion-button>
          </span>
        </ion-row>
      </ion-grid>
    </ion-card-title>
  </ion-card-header>

  <ion-list>
    <ion-item-group>
      <ion-item>
        <ion-label>
          <small>
            <ion-text color="secondary">Time</ion-text>
          </small>
          <h2>1d 2h 30s</h2>
        </ion-label>
        <ion-note slot="end">Start: 08:20</ion-note>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <small>
            <ion-text color="secondary">Accelerometer</ion-text>
          </small>
          <h2>100</h2>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>
          <h3>
            <ion-text color="dark">Location</ion-text>
          </h3>
        </ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>
          <small>
            <ion-text color="secondary">Latitude</ion-text>
          </small>
          <h2>100</h2>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <small>
            <ion-text color="secondary">Longitude</ion-text>
          </small>
          <h2>100</h2>
        </ion-label>
      </ion-item>
    </ion-item-group>

  </ion-list>
</ion-card>