<ion-card>
  <ion-card-header class="ion-no-padding ion-padding-top ion-padding-horizontal">
    <ion-card-title>Survey Running</ion-card-title>
  </ion-card-header>

  <ion-list>
    <ion-item-group>
      <ion-item>
        <ion-label>
          <small>
            <ion-text color="secondary">Time</ion-text>
          </small>
          <h2>1d 2h 30s</h2>
        </ion-label>
        <ion-note slot="end">Start: 08:20</ion-note>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <small>
            <ion-text color="secondary">Accelerometer</ion-text>
          </small>
          <h2>100</h2>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>
          <h3>
            <ion-text color="dark">Location</ion-text>
          </h3>
        </ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>
          <small>
            <ion-text color="secondary">Latitude</ion-text>
          </small>
          <h2>100</h2>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <small>
            <ion-text color="secondary">Longitude</ion-text>
          </small>
          <h2>100</h2>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" class="ion-no-margin ion-margin-bottom" color="warning">
      <ion-icon name="alert-outline" slot="start"></ion-icon>
      Add Event
    </ion-button>
    <ion-button expand="block" class="ion-no-margin" color="danger">
      <ion-icon name="stop-outline" slot="start"></ion-icon>
      Stop
    </ion-button>
  </div>
</ion-card>