<ion-card>
  <ion-list>
    <ion-list-header>
      <ion-grid class="ion-no-padding">
        <ion-row class="d-flex ion-justify-content-between ion-align-items-center">
          <h3 class="ion-no-margin">Survey Running</h3>
          <span class="ion-margin-end">
            <ion-button fill="clear" class="ion-no-padding btn-icon">
              <ion-icon slot="icon-only" name="alert-circle-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" class="ion-no-padding btn-icon">
              <ion-icon slot="icon-only" name="stop-circle-outline"></ion-icon>
            </ion-button>
          </span>
        </ion-row>
      </ion-grid>
    </ion-list-header>

    <ion-item>
      <ion-label>
        <small>Status</small>
        <h2>Connected</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <small>Name</small>
        <h2>Testing</h2>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <small>Bluetooth ID</small>
        <h2>BLA::BLA::BLA::BLA</h2>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-card>