<ion-card>
  <ion-card-header class="ion-no-padding ion-padding-top ion-padding-horizontal">
    <ion-card-title>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-justify-content-between ion-align-items-center">
          Survey History
          <ion-button class="ion-no-margin" *ngIf="deviceConnected" (click)="create()">
            <ion-icon slot="start" name="add"></ion-icon>
            Create
          </ion-button>
        </ion-row>
      </ion-grid>
    </ion-card-title>
  </ion-card-header>
</ion-card>