<ion-header translucent>
  <ion-toolbar>
    <ion-title>Device Setup</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Select Bluetooth <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select value="notifications" interface="action-sheet">
          <ion-select-option value="enable">Enable</ion-select-option>
          <ion-select-option value="mute">Mute</ion-select-option>
          <ion-select-option value="mute_week">Mute for a week</ion-select-option>
          <ion-select-option value="mute_year">Mute for a year</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Name <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Connect</ion-button>
    </div>
  </form>
</ion-content>